/* Color variables */
:root {
  /* Text */
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  /* Gradient */
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  /* Dividers */
  --light-grayish-blue: hsl(240, 5%, 91%);
}
/* ---------------------------------------------------------------------- */
/* ------------------------- General Styles ----------------------------- */
/* ---------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Body */
body {
  background-color: var(--soft-violet);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 13px;
  min-width: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 30px;
}
/* Horizontal line */
hr {
  margin: 10px 0 20px 0;
}
/* ---------------------------------------------------------------------- */
/* ------------------------- Specific Styles (mobile version) ----------- */
/* ---------------------------------------------------------------------- */
/* Wrapper */
.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  max-width: 300px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 22px 22px 86px -17px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 22px 22px 86px -17px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 22px 22px 86px -17px rgba(0, 0, 0, 0.75);
}
/* Illustration */
.illustrator {
  position: absolute;
  top: -110px;
  left: -2px;
}
/* Shadow */
.shadow {
  position: absolute;
  top: 102px;
  left: 27px;
}
/* FAQ */
.faq {
  font-size: 1.7em;
  height: 80px;
  text-align: center;
  margin-top: 100px;
}
/* Question */
.questions {
  width: 100%;
  border-radius: 20px;
}
.question {
  position: relative;
  margin-left: 10px;
  padding: 5px;
  max-width: 90%;
}
.ask {
  height: 30px;
}
.ask:hover {
  cursor: pointer;
  color: var(--soft-red);
}
/* Arrow sign */
.arrow {
  position: absolute;
  right: 5px;
  top: 10px;
}
/* Answer */
.answer {
  margin-top: 10px;
  display: none;
}
/* ---------------------------------------------------------------------- */
/* ------------------------- Desktop Version ---------------------------- */
/* ---------------------------------------------------------------------- */
@media (min-width: 1000px) {
  /* Body */
  body {
    padding-top: 30px;
  }
  /* Bypass Overflow */
  .bypass-overflow {
    position: relative;
  }
  /* Box image */
  .box {
    z-index: 1;
    position: absolute;
    top: 200px;
    left: -92px;
  }
  /* Main Wrapper */
  .wrapper {
    overflow: hidden;
    flex-direction: unset;
    justify-content: flex-end;
    align-items: unset;
    min-width: 925px;
    max-width: 925px;
    min-height: 510px;
  }
  /* Illustrator */
  .illustrator {
    top: 85px;
    left: -75px;
  }
  .shadow {
    width: 1000px;
    position: absolute;
    top: -380px;
    left: -525px;
  }
  /* Questions */
  .questions {
    min-width: 450px;
    max-width: 450px;
    border-radius: 20px;
    align-self: flex-end;
  }
  /* FAQ header */
  .faq {
    text-align: unset;
    margin-left: 12px;
  }
}
